/* FONT-FAMILIES */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* RESET */
* {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GENERAL CLASSES */
.d-row {
  display: flex;
  flex-direction: row;
}

.d-col {
  display: flex;
  flex-direction: column;
}

.d-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.as-center {
  align-self: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.p-1 {
  padding: 1em;
}

.g-05 {
  gap: 0.5em;
}

.g-1 {
  gap: 1em;
}

.g-4 {
  gap: 4em;
}

.w-100 {
  width: 100%;
}

.padding-container {
  padding: 3vw 6vw;
}

.ta-center {
  text-align: center;
}

.ta-end {
  text-align: end;
}

body {
  background-color: #ece8e1;
}

main {
  margin-top: 4.2em;
}

header {
  background-color: #ff4655;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border: 0;
}

header::after {
  content: '';
  position: absolute;
  right: -1.3em;
  top: 3.5em;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: #ece8e1;
}

#header__logo path {
  fill: #fff;
}

#header__desktop-menu {
  margin-right: 6vw;
}

#desktop-menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 26em;
}

.desktop-menu__element {
  position: relative;
  margin: auto;
  letter-spacing: 1px;
  cursor: pointer;
}

.desktop-menu__element:hover {
  font-weight: 500;
  letter-spacing: 0.75px;
}

#underline-animation {
  border-bottom: 4px solid transparent;
  width: 0;
  transition: all 0.3s;
}

.desktop-menu__element:hover #underline-animation {
  border-bottom: 4px solid #fff;
  display: block;
  width: 100%;
}

#your-agents__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

#your-agents__title {
  font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: #303030;
  text-shadow: 4px 4px #ff4655;
}

.agent-card {
  display: flex;
  overflow: visible;
  width: fit-content;
}

.agent-card__title,
.agent-card__likes {
  background-color: #303030;
  color: #fff;
  display: inline;
  padding: 2px 5px;
  width: fit-content;
  overflow: visible;
  position: absolute;
}

.agent-card__title {
  font-size: 2em;
  margin-top: 1em;
  margin-left: -1em;
}

.agent-card__likes {
  align-self: end;
}

.agent-card__container {
  border: 1px solid #a5a5a5;
  padding: 0.5em;
}

.agent-card__comments-btn {
  background-color: #303030;
  color: #fff;
  padding: 2px 0;
}
